.wrapper {
  position: relative;
  width: 260px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #f3f3f3;
  height: 40px;
  border-radius: 6px;
  position: relative;
  padding-inline-start: 8px;
  padding-inline-end: 32px;
}

.inputWrapperBottom {
  border: 2px solid transparent;
  border-bottom: none;

  &.inputWrapperActive {
    border: 2px solid blue;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    background-color: transparent;
  }
}

.inputWrapperTop {
  border: 2px solid transparent;
  border-top: none;

  &.inputWrapperActive {
    border: 2px solid blue;
    border-top: none;
    border-radius: 0 0 6px 6px;
    background-color: transparent;
  }
}

.selectedValuesList {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: calc(100% - 40px);
  overflow: hidden;
}

.arrow {
  position: absolute;
  right: 0;
  height: 100%;
  width: 32px;
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  color: #a1a1a1;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.input {
  font-size: 16px;
  line-height: 20px;
  border: none;
  display: flex;
  flex-grow: 1;
  height: 100%;
  padding: 0;
  background-color: transparent;
  &:focus,
  &:active {
    outline: none;
  }
}

.dropdownWrapper {
  left: 0px;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.dropdownWrapperBottom {
  top: 100%;
  bottom: auto;
  border: 2px solid blue;
  border-top: none;
  border-radius: 0 0 6px 6px;
}

.dropdownWrapperTop {
  bottom: 100%;
  top: auto;
  border: 2px solid blue;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
}

.optionList {
  padding: 8px 0;
  margin: 0;
  list-style: none;
  max-height: 100px;
  overflow-y: auto;
}

.optionItem {
  display: flex;
  justify-content: flex-start;
  padding: 8px 8px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  cursor: pointer;

  &:hover {
    background-color: #f3f3f3;
  }
}

.optionItemActive {
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
}
